.no-post {
    position: absolute;
    margin-top: 15%;
    margin-bottom: 35%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}


@media (min-width: 768px) {
    .mx-md-7 {
        margin-left: 5rem !important;
        margin-right: 5rem !important;
    }
}